.env.dev
.env.prod
cloned_repo/
.venv/
__pycache__/
*.pyc
chunks_output.json
chunks_output1.json
chunks_output2.json
test.py 
chunker_test.py
chunking_report.txt
test_connections.py
test_qdrant.py
debug_neo4j.py
neo_creds.txt
neo4j_creds1.txt
neo4j_creds2.txt
test_data_integ.py
py_files_check.py
process.txt
missing_check.py
file_node_check.py
data_integ.py
remaining_ingest.py
embed_store.py
ingester.py